* {
  font-family: "Poppins", sans-serif;
}

a:hover {
  text-decoration: none;
}

#my-header {
  max-height: 100px;
  padding: 25px 0;
  background-color: black;
}

#my-header .header-inner .logo img {
  max-width: 180px;
  height: auto;
}

#my-header .nav-bar {
  text-align: center;
}

@media (max-width: 1200px) {
  #my-header .nav-bar {
    display: none !important;
    overflow-x: none;
  }
}

#my-header .nav-bar ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style-type: none;
}

#my-header .nav-bar ul .nav-item {
  position: relative;
  margin: 15px;
}

#my-header .nav-bar ul .nav-item a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 500;
}

#my-header .nav-bar ul .active a::before {
  content: "";
  position: absolute;
  height: 2px;
  top: 30px;
  left: 0;
  right: 0;
  background-color: #d1a570;
}

@media (max-width: 576px) {
  #my-header .nav-bar {
    display: none;
  }
}

#my-header .header-end {
  text-align: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 15px;
}

@media (max-width: 1200px) {
  #my-header .header-end {
    display: none !important;
    overflow-x: none;
  }
}

#my-header .header-end .customize {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#my-header .header-end .customize .login {
  margin: 15px;
}

#my-header .header-end .customize .login a {
  text-decoration: none;
  color: white;
}

#my-header .header-end .customize .login .circle {
  margin-right: 35px;
  white-space: nowrap;
}

#my-header .header-end .customize .login .listing {
  white-space: nowrap;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
}

#my-header .checkbtn .fa-bars {
  font-size: 30px;
  color: white;
  margin-left: 15px;
  display: none;
}

@media (max-width: 1200px) {
  #my-header .checkbtn .fa-bars {
    display: block;
    color: white;
    font-size: 30px;
    right: 0px;
    top: 5px;
  }
}

@media (max-width: 576px) {
  #my-header .checkbtn .fa-bars {
    position: relative;
    display: block;
    color: white;
    left: 280px;
    top: -25px;
    font-size: 30px;
  }
}

#section-slider {
  position: relative;
}

#section-slider .item {
  background-image: url(/images/demo1.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 91vh;
}

#section-slider .item .card {
  position: relative;
  max-width: 470px;
  border-radius: 7px;
  padding: 30px;
  left: 950px;
  top: 200px;
}

@media (max-width: 1200px) {
  #section-slider .item .card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 400px;
    left: 200px;
  }
}

#section-slider .item .card .elementSpan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#section-slider .item .card .elementSpan i {
  margin: 0 10px;
  color: #d1a570;
}

#section-slider .item .card .property-bottoms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#section-slider .item .card .property-bottoms .for-rent {
  position: relative;
  padding: 1px 20px;
  border-radius: 3px;
  background-color: #6cb6ac;
  margin-left: -12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#section-slider .item .card .property-bottoms .for-rent span {
  text-align: center;
  color: white;
  font-size: small;
}

#section-slider .item .card .featured {
  position: relative;
  padding: 1px 20px;
  border-radius: 3px;
  background-color: #ff6935;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 5px;
}

#section-slider .item .card .featured span {
  color: white;
  font-size: small;
}

#section-slider .item-2 {
  background-image: url(/images/demo2.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 91vh;
}

#section-slider .item-2 .card {
  position: relative;
  max-width: 470px;
  border-radius: 7px;
  padding: 30px;
  left: 950px;
  top: 200px;
}

@media (max-width: 1200px) {
  #section-slider .item-2 .card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 400px;
    left: 200px;
  }
}

#section-slider .item-2 .card .elementSpan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#section-slider .item-2 .card .elementSpan i {
  margin: 0 15px;
  color: #d1a570;
}

#section-slider .item-2 .card .property-bottoms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#section-slider .item-2 .card .property-bottoms .for-rent {
  position: relative;
  padding: 1px 20px;
  border-radius: 3px;
  background-color: #6cb6ac;
  margin-left: -12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#section-slider .item-2 .card .property-bottoms .for-rent span {
  text-align: center;
  color: white;
  font-size: small;
}

#section-slider .item-2 .card .featured {
  position: relative;
  padding: 1px 20px;
  border-radius: 3px;
  background-color: #ff6935;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 5px;
}

#section-slider .item-2 .card .featured span {
  color: white;
  font-size: small;
}

#section-slider .item-3 {
  background-image: url(/images/demo3.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 91vh;
}

#section-slider .item-3 .card {
  position: relative;
  max-width: 470px;
  border-radius: 7px;
  padding: 30px;
  left: 950px;
  top: 200px;
}

@media (max-width: 1200px) {
  #section-slider .item-3 .card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 400px;
    left: 200px;
  }
}

#section-slider .item-3 .card .elementSpan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#section-slider .item-3 .card .elementSpan i {
  margin: 0 15px;
  color: #d1a570;
}

#section-slider .item-3 .card .property-bottoms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#section-slider .item-3 .card .property-bottoms .for-rent {
  position: relative;
  padding: 1px 20px;
  border-radius: 3px;
  background-color: #6cb6ac;
  margin-left: -12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#section-slider .item-3 .card .property-bottoms .for-rent span {
  text-align: center;
  color: white;
  font-size: small;
}

#section-slider .item-3 .card .featured {
  position: relative;
  padding: 1px 20px;
  border-radius: 3px;
  background-color: #ff6935;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 5px;
}

#section-slider .item-3 .card .featured span {
  color: white;
  font-size: small;
}

#section-welcome {
  background-image: url(/images/bg-section-two.jpg);
  padding-left: 37.4653px;
  padding-right: 37.5947px;
  background-size: contain;
}

#section-welcome .heading-title {
  text-align: center;
  justify-items: center;
  padding: 50px;
  line-height: 26px;
  color: #7e7e7e;
}

#section-welcome .container .card {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  border-radius: 5px;
  background-color: #fff;
}

@media (max-width: 1200px) {
  #section-welcome .container .card {
    margin: 10px;
  }
}

#section-welcome .container .card:hover {
  -webkit-box-shadow: 0px 5px 15px 0px #d8d7d7;
          box-shadow: 0px 5px 15px 0px #d8d7d7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#section-welcome .container .card .img-box {
  padding: 17px 45px 32px;
}

#section-welcome .container .card .img-box img {
  width: 93px;
  height: 62px;
}

#section-welcome .container .card .card-context {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 26px;
  color: #7e7e7e;
}

#section-welcome .container .card .card-context h4 {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 26px;
  color: #7e7e7e;
}

#section-welcome .container .card .card-context p {
  text-align: center;
}

#section-welcome .heading-feature .heading-feature p {
  color: #888;
}

#section-welcome .view_property a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #d1a570;
  border-radius: 1px solid #d1a570;
  padding-top: 13px;
  width: 221px;
  height: 53px;
  color: white;
}

@media (max-width: 1200px) {
  #section-welcome .view_property a {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 200px;
    height: 50px;
    padding-top: 13px;
    margin: 10px;
  }
}

@media (max-width: 1200px) {
  #section-welcome .view_property {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#section-welcome .carousel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px;
}

#section-welcome .carousel-item #card {
  border: 1px solid #eee;
  border-radius: 5px;
  margin: 0 15px;
}

#section-welcome .carousel-item #card .property_bedge {
  top: 8px;
  position: absolute;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#section-welcome .carousel-item #card .property_bedge .featured {
  background-color: #ff6935;
  border-radius: 3px;
  font-size: 13px;
  color: white;
  font-weight: 400;
  line-height: 20px;
  margin: 5px 5px;
  padding: 2px 10px 2px;
  width: 88px;
}

#section-welcome .carousel-item #card .property_bedge .sale {
  background-color: #6cb6ac;
  border-radius: 3px;
  font-size: 13px;
  color: white;
  font-weight: 400;
  line-height: 20px;
  margin: 5px 5px;
  padding: 2px 10px 2px;
  width: 88px;
}

#section-welcome .carousel-item #card:hover {
  -webkit-box-shadow: 0px 5px 15px 0px #a1a1a1;
          box-shadow: 0px 5px 15px 0px #a1a1a1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#section-welcome .carousel-item #card .card-body h3 {
  font-size: 16px;
}

#section-welcome .carousel-item #card .card-body .text2 {
  font-size: 14px;
  color: #3e3e3e;
}

#section-welcome .carousel-item #card .card-body a {
  text-decoration: none;
}

#section-welcome .carousel-item #card .card-body .box_room_icons {
  margin-top: 5px;
}

#section-welcome .carousel-item #card .card-body .box_room_icons .icons_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5px;
}

#section-welcome .carousel-item #card .card-body .box_room_icons .icons_box i {
  margin: 0 10px;
  color: #d1a570;
}

#section-welcome .carousel-item #card .card-body .box_room_icons .property-bottoms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#section-welcome .carousel-item #card .card-body .box_room_icons .property-bottoms .for-rent {
  position: relative;
  padding: 1px 20px;
  border-radius: 3px;
  background-color: #6cb6ac;
  margin-left: -12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#section-welcome .carousel-item #card .card-body .box_room_icons .property-bottoms .for-rent span {
  text-align: center;
  color: white;
  font-size: small;
}

#section-welcome .carousel-item #card .card-body .box_room_icons .featured {
  position: relative;
  padding: 1px 20px;
  border-radius: 3px;
  background-color: #ff6935;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 5px;
}

#section-welcome .carousel-item #card .card-body .box_room_icons .featured span {
  color: white;
  font-size: small;
}

@media (max-width: 576px) {
  #section-welcome .carousel-item #card .card-body .box_room_icons .icons_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #section-welcome .carousel-item #card .card-body .box_room_icons .icons_box i {
    margin: 3px;
    color: #d1a570;
  }
  #section-welcome .carousel-item #card .card-body .box_room_icons .property-bottoms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #section-welcome .carousel-item #card .card-body .box_room_icons .property-bottoms .for-rent {
    position: relative;
    padding: 1px 20px;
    border-radius: 3px;
    background-color: #6cb6ac;
    margin-left: -12px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  #section-welcome .carousel-item #card .card-body .box_room_icons .property-bottoms .for-rent span {
    text-align: center;
    color: white;
    font-size: small;
  }
  #section-welcome .carousel-item #card .card-body .box_room_icons .featured {
    position: relative;
    padding: 1px 20px;
    border-radius: 3px;
    background-color: #ff6935;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 5px;
  }
  #section-welcome .carousel-item #card .card-body .box_room_icons .featured span {
    color: white;
    font-size: small;
  }
}

#section-welcome .carousel-item #card .last_icons {
  margin: 10px;
}

#section-welcome .carousel-item #card .last_icons i {
  color: #888;
  border: 1px solid #888;
  border-radius: 50%;
  padding: 4px;
}

#section-welcome .carousel-item #card .last_icons .fa-star {
  margin-left: 85px;
}

@media (max-width: 576px) {
  #section-welcome .carousel-item #card .last_icons {
    margin: 0px;
  }
  #section-welcome .carousel-item #card .last_icons i {
    color: #888;
    border: 1px solid #888;
    border-radius: 50%;
    padding: 4px;
  }
  #section-welcome .carousel-item #card .last_icons .fa-star {
    margin-left: 55px;
  }
}

#section-welcome .carousel-item .owl-theme .owl-dots .owl-dot.active span {
  background: red !important;
}

#explore {
  background-color: black;
}

#explore .heading_explore {
  text-align: center;
  justify-items: center;
  padding: 50px;
  line-height: 26px;
  color: #7e7e7e;
}

#explore .heading_explore p {
  font-size: 14px;
}

#explore .imagWrapper {
  max-width: 207px;
  max-height: 350px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#explore .imagWrapper .image-box {
  padding: 30px;
  text-align: center;
  height: 153px;
}

#explore .imagWrapper .image-box .img-box1 {
  z-index: 1;
  position: relative;
  width: 153px;
}

#explore .imagWrapper .image-box .img-box2 {
  width: 153px;
  opacity: 0;
  z-index: 2;
  position: relative;
  bottom: 105px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#explore .imagWrapper .image-box .img-box2:hover {
  opacity: 100%;
}

#explore .imagWrapper .image-box .img-context-box {
  text-align: center;
}

#explore .imagWrapper .image-box .img-context-box .title {
  line-height: 2;
  font-size: 16px;
  margin: 0;
  text-align: center;
}

#explore .imagWrapper .image-box .img-context-box .title a {
  color: white;
  text-decoration: none;
  text-align: center;
}

#explore .imagWrapper .image-box .img-context-box .description {
  margin-top: 0;
}

#explore .imagWrapper .image-box .img-context-box .description p {
  color: white;
}

#lastProperties {
  background-color: #ffffff;
}

#lastProperties .heading-feature p {
  color: #888;
}

#lastProperties .view_property a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #d1a570;
  border-radius: 1px solid #d1a570;
  padding: 5px;
  width: 250px;
  height: 40px;
  color: white;
}

@media (max-width: 1200px) {
  #lastProperties .view_property a {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 200px;
    height: 50px;
    padding-top: 13px;
    margin: 10px;
  }
}

@media (max-width: 1200px) {
  #lastProperties .view_property {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#lastProperties .carousel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px;
}

#lastProperties .carousel-item #card {
  border: 1px solid #eee;
  border-radius: 5px;
  margin: 0 15px;
}

#lastProperties .carousel-item #card .property_bedge {
  top: 8px;
  position: absolute;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#lastProperties .carousel-item #card .property_bedge .featured {
  background-color: #ff6935;
  border-radius: 3px;
  font-size: 13px;
  color: white;
  font-weight: 400;
  line-height: 20px;
  margin: 5px 5px;
  padding: 2px 10px 2px;
  width: 88px;
}

#lastProperties .carousel-item #card .property_bedge .sale {
  background-color: #6cb6ac;
  border-radius: 3px;
  font-size: 13px;
  color: white;
  font-weight: 400;
  line-height: 20px;
  margin: 5px 5px;
  padding: 2px 10px 2px;
  width: 88px;
}

#lastProperties .carousel-item #card:hover {
  -webkit-box-shadow: 0px 5px 15px 0px #a1a1a1;
          box-shadow: 0px 5px 15px 0px #a1a1a1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#lastProperties .carousel-item #card .card-body h3 {
  font-size: 16px;
}

#lastProperties .carousel-item #card .card-body .text2 {
  font-size: 14px;
  color: #3e3e3e;
}

#lastProperties .carousel-item #card .card-body a {
  text-decoration: none;
}

#lastProperties .carousel-item #card .card-body .box_room_icons {
  margin-top: 5px;
}

#lastProperties .carousel-item #card .card-body .box_room_icons .icons_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5px;
}

#lastProperties .carousel-item #card .card-body .box_room_icons .icons_box i {
  margin: 0 10px;
  color: #d1a570;
}

#lastProperties .carousel-item #card .card-body .box_room_icons .property-bottoms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#lastProperties .carousel-item #card .card-body .box_room_icons .property-bottoms .for-rent {
  position: relative;
  padding: 1px 20px;
  border-radius: 3px;
  background-color: #6cb6ac;
  margin-left: -12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#lastProperties .carousel-item #card .card-body .box_room_icons .property-bottoms .for-rent span {
  text-align: center;
  color: white;
  font-size: small;
}

#lastProperties .carousel-item #card .card-body .box_room_icons .featured {
  position: relative;
  padding: 1px 20px;
  border-radius: 3px;
  background-color: #ff6935;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 5px;
}

#lastProperties .carousel-item #card .card-body .box_room_icons .featured span {
  color: white;
  font-size: small;
}

@media (max-width: 576px) {
  #lastProperties .carousel-item #card .card-body .box_room_icons .icons_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #lastProperties .carousel-item #card .card-body .box_room_icons .icons_box i {
    margin: 3px;
    color: #d1a570;
  }
  #lastProperties .carousel-item #card .card-body .box_room_icons .property-bottoms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #lastProperties .carousel-item #card .card-body .box_room_icons .property-bottoms .for-rent {
    position: relative;
    padding: 1px 20px;
    border-radius: 3px;
    background-color: #6cb6ac;
    margin-left: -12px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  #lastProperties .carousel-item #card .card-body .box_room_icons .property-bottoms .for-rent span {
    text-align: center;
    color: white;
    font-size: small;
  }
  #lastProperties .carousel-item #card .card-body .box_room_icons .featured {
    position: relative;
    padding: 1px 20px;
    border-radius: 3px;
    background-color: #ff6935;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 5px;
  }
  #lastProperties .carousel-item #card .card-body .box_room_icons .featured span {
    color: white;
    font-size: small;
  }
}

#lastProperties .carousel-item #card .last_icons {
  margin: 10px;
}

#lastProperties .carousel-item #card .last_icons i {
  color: #888;
  border: 1px solid #888;
  border-radius: 50%;
  padding: 4px;
}

#lastProperties .carousel-item #card .last_icons .fa-star {
  margin-left: 85px;
}

@media (max-width: 576px) {
  #lastProperties .carousel-item #card .last_icons {
    margin: 0px;
  }
  #lastProperties .carousel-item #card .last_icons i {
    color: #888;
    border: 1px solid #888;
    border-radius: 50%;
    padding: 4px;
  }
  #lastProperties .carousel-item #card .last_icons .fa-star {
    margin-left: 55px;
  }
}

#lastProperties .carousel-item .owl-theme .owl-dots .owl-dot.active span {
  background: red !important;
}

#loveWorking {
  background-image: linear-gradient(77deg, rgba(35, 92, 71, 0.2) -36%, rgba(235, 191, 127, 0.2) 111%);
  text-align: center;
  justify-items: center;
  padding: 50px;
  line-height: 26px;
  color: #7e7e7e;
}

#Articles {
  text-align: center;
  justify-items: center;
  padding: 50px;
  line-height: 26px;
  color: #7e7e7e;
}

* {
  font-family: "Poppins", sans-serif;
}
