// section-welcome
#section-welcome {
  background-image: url(/images/bg-section-two.jpg);
  padding-left: 37.4653px;
  padding-right: 37.5947px;
  background-size: contain;

  .heading-title {
    @include heading-title();
  }
  .container {
    .card {
      text-align: center;
      justify-content: center;
      padding: 30px;
      border-radius: 5px;
      background-color: #fff;
      &:hover {
        box-shadow: 0px 5px 15px 0px rgb(216, 215, 215);
        transition: 0.3s;
      }
      .img-box {
        padding: 17px 45px 32px;
        img {
          width: 93px;
          height: 62px;
        }
      }
      .card-context {
        @include card_contexts();
      }
    }
  }
  .heading-feature {
    p {
      color: $btn_offer-cl;
    }
  }
  .view_property {
    a {
      align-items: center;
      justify-content: center;
      background-color: $btn_gold;
      border-radius: 1px solid $btn_gold;
      padding-top: 13px;
      width: 221px;
      height: 53px;
      color: white;
    }
  }
  // first -slide owl carousel
  .carousel-item {
    display: flex;
    margin: 40px;
    #card {
      border: 1px solid #eee;
      border-radius: 5px;
      margin: 0 15px;
      .property_bedge {
        top: 8px;
        position: absolute;
        justify-content: flex-start;
        .featured {
          background-color: $btn_oring;
          @include card_btns();
        }
        .sale {
          background-color: $primary-cl;
          border-radius: 8px;
          padding: 3px;
          margin: 5px;
        }
        .hot {
          background-color: $btn_offer-cl;
          border-radius: 8px;
          padding: 3px;
        }
      }
      &:hover {
        box-shadow: 0px 5px 15px 0px rgb(216, 215, 215);
        transition: 0.3s;
      }
      .card-body {
        h3 {
          font-size: 16px;
        }
        .text2 {
          font-size: 14px;
          color: rgb(62, 62, 62);
        }
        a {
          text-decoration: none;
        }
        .box_room_icons {
          .icons_box {
            margin: 10px 0;
            padding-right: 15px;
            img {
              width: 18px;
              border-radius: 50%;
            }
            span {
              font-size: 13px;
              color: #d1a570;
            }
          }
        }
      }
    }
    .owl-theme .owl-dots .owl-dot.active span {
      background: red !important;
    }
  }
}
