#lastProperties{
    background-color: $bc-cl_section;
 .heading-feature{
     p{
        color: $btn_offer-cl;
     }
 
    }
    .view_property {
        a {
          align-items: center;
          justify-content: center;
          background-color: $btn_gold;
          border-radius: 1px solid $btn_gold;
          padding: 5px;
          width: 250px;
          height: 40px;
          color: white;
          @include IPadTablet {
            align-items: center;
            justify-content: center;
            width: 200px;
            height: 50px;
            padding-top: 13px;
            margin: 10px;
          }
        }
        @include IPadTablet {
          display: flex;
          justify-content: center;
        }
    }
      // second-slide owl carousel
    .carousel-item {
        display: flex;
        margin: 40px;
        #card {
          border: 1px solid #eee;
          border-radius: 5px;
          margin: 0 15px;
          .property_bedge {
            top: 8px;
            position: absolute;
            justify-content: space-between;
            .featured {
              background-color: $btn_oring;
              @include card_btns();
            }
            .sale {
              background-color: $primary-cl;
              @include card_btns();
            }
            // .hot {
            //   background-color: $btn_offer-cl;
            //   @include card_btns();
            // }
          }
          &:hover {
            box-shadow: 0px 5px 15px 0px rgb(161, 161, 161);
            transition: 0.5s;
          }
          .card-body {
            h3 {
              font-size: 16px;
            }
            .text2 {
              font-size: 14px;
              color: rgb(62, 62, 62);
            }
            a {
              text-decoration: none;
            }
            .box_room_icons {
              margin-top: 5px;
              .icons_box {
                display: flex;
                justify-content: space-between;
                margin-top: 5px;
                i {
                  margin: 0 10px;
                  color: $btn_gold;
                }
                // span {
                //   font-size: 12px;
                // }
              }
              @include prop-card-bottoms();
              @include IPhoneX {
                // margin-top: 5px ;
                .icons_box {
                  display: flex;
                  justify-content: space-between;
                  // margin-top: 5px ;
                  i {
                    margin: 3px;
                    color: $btn_gold;
                  }
                  // span {
                  //   font-size: 12px;
                  // }
                }
                @include prop-card-bottoms();
              }
            }
          }
          .last_icons {
            margin: 10px;
            i {
              color: $btn_offer-cl;
              border: 1px solid $btn_offer-cl;
              border-radius: 50%;
              padding: 4px;
            }
            .fa-star {
              margin-left: 85px;
            }
            @include IPhoneX {
              margin: 0px;
              i {
                color: $btn_offer-cl;
                border: 1px solid $btn_offer-cl;
                border-radius: 50%;
                padding: 4px;
              }
              .fa-star {
                margin-left: 55px;
              }
            }
          }
        }
        .owl-theme .owl-dots .owl-dot.active span {
          background: red !important;
        }
     }


}