#section-slider {
  position: relative;
  // card-1
  .item {
    background-image: url(/images/demo1.jpg);
    background-position: center center;
    background-size: cover;
    min-height: 91vh;
    .card {
      position: relative;
      max-width: 470px;
      border-radius: 7px;
      padding: 30px;
      left: 950px;
      top: 200px;
      @include IPadTablet() {
        position: relative;
        display: flex;
        justify-content: center;
        width: 400px;
        left: 200px;
      }
      .elementSpan {
        display: flex;
        justify-content: space-between;
        i {
          margin: 0 10px;
          color: $btn_gold;
        }
        
      }
      @include prop-card-bottoms();
    }
  }
  // card-2
  .item-2 {
    background-image: url(/images/demo2.jpg);
    background-position: center center;
    background-size: cover;
    min-height: 91vh;
    .card {
      position: relative;
      max-width: 470px;
      border-radius: 7px;
      padding: 30px;
      left: 950px;
      top: 200px;
      @include IPadTablet() {
        position: relative;
        display: flex;
        justify-content: center;
        width: 400px;
        left: 200px;
      }
     
      .elementSpan {
        display: flex;
        justify-content: space-between;
        i {
          margin: 0 15px;
          color: $btn_gold;
        }
      }
      @include prop-card-bottoms();
    }
  }
    // card-3
  .item-3 {
      background-image: url(/images/demo3.jpg);
      background-position: center center;
      background-size: cover;
      min-height: 91vh;
      .card {
        position: relative;
        max-width: 470px;
        border-radius: 7px;
        padding: 30px;
        left: 950px;
        top: 200px;
        @include IPadTablet() {
          position: relative;
          display: flex;
          justify-content: center;
          width: 400px;
          left: 200px;
        }
        .elementSpan {
          display: flex;
          justify-content: space-between;
          i {
            margin: 0 15px;
            color: $btn_gold;
          }
        }
        @include prop-card-bottoms();
      }
    }

  
}
