// header
#my-header {
    max-height: 100px;
    padding: 25px 0;
    background-color: black;
    .header-inner {
      .logo {
        img {
          max-width: 180px;
          height: auto;
        }
      }
    }
    .nav-bar {
      text-align: center;
      ul {
        display: inline-flex;
        list-style-type: none;
        .nav-item {
          position: relative;
          margin: 15px;
          a {
            text-decoration: none;
            color: white;
            font-size: 14px;
            font-weight: 500;
          }
        }
        .active a::before {
          content: "";
          position: absolute;
          height: 2px;
          top: 30px;
          left: 0;
          right: 0;
          background-color: #d1a570;
        }
      }
    }
    .header-end {
      text-align: end;
      align-items: flex-end;
      padding-left: 15px;
      .customize {
        display: inline-flex;
  
        .login {
          margin: 15px;
  
          a {
            text-decoration: none;
            color: white;
          }
          .circle {
            margin-right: 35px;
            white-space: nowrap;
          }
          .listing {
            white-space: nowrap;
            border:1px solid white;
            border-radius: 5px;
            padding: 20px;
          }
        }
      }
    }
}